body, h1, h2, ul, li, a {
    margin: 0; /* Removes the default margining from the page */
    padding: 0; /* Removes the default padding from the page */
    font-family: sans-serif, "Ubuntu", Arial, Helvetica /* Font families for the webpage */
} /* Removes default margining and padding and sets the font families for the webpage, applying to <body>, <h1>, <h2>, <ul>, <li>, and <a> elements */

body {
    background: radial-gradient(circle, rgb(0,0,0), rgb(40,0,40)); /* Gradient dark purple background */
    max-width: 700px; /* Sets the max width of the webpage to 700px for easier readability */
    margin: 0 auto; /* Centers the webpage horizontally */
    overflow-wrap: break-word; /* Automatically breaks larger words so that they stay within the 700px width */
    padding: 20px; /* Adds padding (gaps) of 20px both horizontally and vertically to the webpage */
    line-height: 1.5; /* Sets the line height to 1.5 for slightly more spacing between each line */
} /* Gives the body of the website a dark purple and black radial gradient background, a max width of 700px, horizontal centering, a padding of 20px, and a line height of 1.5 */

h1 {
    color: cyan; /* Cyan color for the text */
    font-size: 2em; /* Multiplies the size of the font by 2 */
    margin-bottom: 0.5em; /* Multiplies the space at the bottom of an element by 1/2 */
} /* Cyan color and font size and spacing adjustments for <h1> element */

h2 {
    color: plum; /* Plum color for the text */
    font-size: 1.5em; /* Multiplies the size of the font by 1.5 */
    margin-bottom: 1em; /* Multiplies the space at the bottom of the element by 1 */
} /* Plum color and font size and spacing adjustments for <h2> element */

h3 {
    color: salmon; /* Salmon color for the text */
    font-size: 1.15em; /* Multiplies the size of the font by 1.15 */
    margin-bottom: 1em; /* Multiplies the space at the bottom of the element by 1 */
} /* Salmon color and font size and spacing adjustments for <h3> element */

ul {
    list-style-type: none; /* Removes bullet points */
    margin-left: 20px; /* Gives a left margin (gap) of 20px */
} /* Defines no list type and margins for unordered list */

ul li {
    margin-bottom: 5px; /* Gives a bottom margin (gap) of 5px */
} /* Bottom margin for <ul> and <li> elements */

a {
    display: inline-block; /* Applies inline blocking to image */
    color: yellow; /* Yellow color for the text */
    text-decoration: none; /* Removes the underlining from links */
    padding: 5px 10px; /* 5px vertical padding, 10px horizontal padding */
    border: 3px solid #00FFFF; /* A 3px solid cyan colored border around links */
    transition: all 0.3s ease; /* Used for a gradual color changing transition for hover effects */
    text-indent: 0; /* Removes text indent for links inside <p> */
} /* Makes <a> elements have cyan border and yellow font with an animation transition, and also ensures that links never get indented */

a:hover {
    background-color: green; /* Green background for links when hovering */
    color: white; /* White text color for links when hovering */
    border: 3px solid yellow; /* Yellow border color for links when hovering */
} /* Adds green background, white font, and yellow border when hovering over <a> elements */

p {
    color: white; /* Applies a white text color */
    text-indent: 20px; /* Added a 20px text indent to the beginning of paragraphs */
} /* Adds white text color to <p> elements and indents the beginning of paragraphs by 20px */

header {
    text-align: center; /* Aligns text to the center */
} /* Center aligns text that is part of the <header> element */

ul > li:last-child {
    margin-bottom: 12px; /* Gives a bottom margin (gap) of 12px */
} /* Applies margin adjustment for the last list item */

h1:first-of-type {
    margin-top: 0; /* Removes top margining for the first <h1> element on the page */
} /* Makes the first <h1> element start at the top of the container */

p + a {
    margin-top: 10px; /* Gives a top margin (gap) of 10px */
} /* Adds a small amount of spacing between text and links */